<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magegurulazyload>
            <magegurulazyload_generalsetting>
                <mageguru_option>0</mageguru_option>
            </magegurulazyload_generalsetting>
        </magegurulazyload>
    </default>
</config>